const mongoose = require('mongoose')
const pickupGameSchema = require('./schemas/pickupGameSchema')
const pickupGamePlayers = require('./schemas/pickupGamePlayers')
const playerSchema = require('./schemas/playerSchema')

const connectionString = 'mongodb+srv://<user>:<pass>@<server>/hoop_dreams?retryWrites=true&w=majority'

const connection = mongoose.createConnection(connectionString, {
  useNewUrlParser: true,
  useUnifiedTopology: true
})

const PickupGame = connection.model('PickupGame', pickupGameSchema)
const PickupGamePlayers = connection.model('PickupGamePlayers', pickupGamePlayers)
const Player = connection.model('Player', playerSchema)

module.exports = {
  connection,
  PickupGame,
  Player
}
